<h2>Bienvenido {{user.first_name}}</h2>
<h3>Tu email es: {{user.email}} </h3>
<h3>Tu carrito es: {{user.cartID}} </h3>

{{#if message }}
    <h4 style="text-align: center;"> {{message}} </h4>
{{/if}}

<h2>Detalle Producto</h2>

<form action="/api/carts/{{user.cartID}}/product/{{product._id}}" method="post">
    Producto:{{product.title}}</br>
    Stock:{{product.stock}}</br>
    Code:{{product.code}}</br>
    Id:{{product._id}}</br>
    <input type="submit" value="Agregar Producto">
</form>

<button><a href="/api/views/cart/{{user.cartID}}">Mi Carrito</a></button>

<button><a href="http://localhost:8080/api/sessions/logout">SIGN OUT</a></button>